<!--[if lt IE 9]>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ jsVendorPath }}jquery-1.11.1.js"><\/script>')</script>
	<script src="{{ jsVendorPath }}selectivizr.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="{{ jsVendorPath }}jquery-2.1.1.js"><\/script>')</script>
<!--<![endif]-->

<script src="{{ jsPath }}all.js?v=140808092519"></script>
</body>
</html>