<!DOCTYPE html>
<!--[if IE 7 ]>    <html class="ie ie7 ltie8 ltie9" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 ltie9" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>{{ title }} - {{ siteName }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="MobileOptimized" content="320" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="{{ cssPath }}all.css?v=141016085034" rel="stylesheet" type="text/css" media="all" />
	<!--[if lt IE 9 ]>
		<link href="{{ cssPath }}ltie9.css?v=141016085034" rel="stylesheet" type="text/css" media="all"  />
		<link href="{{ cssPath }}PIE.htc" rel="stylesheet" type="text/css" />
	<![endif]-->
	<!--<link href="/online-font-service.url" type="text/css" rel="stylesheet" />-->
	<script>
		(function() {
			if ('-ms-user-select' in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
				var msViewportStyle = document.createElement('style');
				msViewportStyle.appendChild(document.createTextNode('@-ms-viewport{width:auto!important}'));
				document.getElementsByTagName('head')[0].appendChild(msViewportStyle);
			}
			
			window.suzi = {
				jsVendorPath: '{{ jsVendorPath }}'
			};
		})();
	</script>
	<script src="{{ jsPath }}base.js?v=140808092519"></script>
	<link rel="shortcut icon" href="{{ imgPath }}favicon.ico" type="image/x-icon" />
</head>

<body class="{{ bodyClass }}">
