@if ($form-bp > 0) {
	label, .label {
		.f_row & {
			@include rem(margin-top, $form-input-padding-vertical + $form-input-border-width);
			
			.ie &, .vendor-ie & {
				@include rem(margin-top, ($form-input-padding-vertical + $form-input-border-width) + 1);
			}
			
			@if ($form-labels-aligned-right == true) {
				em {
					position: absolute;
					@include rem(right, $form-required-indicator-right);
				}
			}
		}
	}
	
	.f_row label, .f_row .label, p.legend {
		display: inline-block;
		margin-right: $form-label-margin;
		width: $form-label-width;
		
		@if ($form-labels-aligned-right == true) {
			position: relative;
			text-align: right;
		}
	}
	
	.f_row .text, .f_row textarea, .f_row select, .rc.legend ul {
		display: inline-block;
		@include rem(margin-left, $std-whitespace-margin);
		width: (100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster);
	}
	
	.f_row, .btns {
		.w_bp_auto {
			width: auto;
		}
		
		.w_bp_smaller {
			width: ((100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster) * strip-units($form-smaller-input-width / 100));
		}
		
		.w_bp_small {
			width: ((100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster) * strip-units($form-small-input-width / 100));
		}
		
		.w_bp_medium {
			width: ((100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster) * strip-units($form-medium-input-width / 100));
		}
		
		.w_bp_large {
			width: ((100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster) * strip-units($form-large-input-width / 100));
		}
		
		.w_bp_larger {
			width: ((100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster) * strip-units($form-larger-input-width / 100));
		}
		
		.w_bp_max {
			width: (100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster);
		}
	}
	
	.f_row.block {
		label, .label, .text, textarea, select {
			display: block;
			margin-bottom: $form-margin;
			margin-left: 0;
			margin-right: 0;
			text-align: left;
			width: 100%;
		}
		
		label, .label {
			margin-bottom: $form-margin / 2;
		}
	}
	
	.rc.legend ul {
		@include rem(margin-left, $std-whitespace-margin * 2);
	}
	
	.rc:not(.legend) ul {
		@include rem(margin-left, $std-whitespace-margin);
	}
	
	.f_comment, .rc:not(.legend) ul, .required {
		padding-left: $form-label-margin + $form-label-width;
	}
	
	.btns > :first-child {
		margin-left: $form-label-margin + $form-label-width;
	}
	
	button, [type="submit"] {
		width: auto;
	}
}