@if ($form-bp > 0) {
	label, .label {
		.form_row & {
			@include rem(margin-top, $form-input-padding-vertical + $form-input-border-width);
			
			.ie &, .vendor-ie & {
				@include rem(margin-top, ($form-input-padding-vertical + $form-input-border-width) + 1);
			}
			
			@if ($form-labels-aligned-right == true) {
				em {
					position: absolute;
					@include rem(right, $form-required-indicator-right);
				}
			}
		}
	}
	
	.form_row label, .form_row .label, .radio_checkbox_group_legend {
		display: inline-block;
		margin-right: $form-label-margin;
		width: $form-label-width;
		
		@if ($form-labels-aligned-right == true) {
			position: relative;
			text-align: right;
		}
	}
	
	.form_row .input-text, .form_row textarea, .form_row select, .radio_checkbox_group--has_legend ul {
		display: inline-block;
		@include rem(margin-left, $std-whitespace-margin);
		width: (100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster);
	}
	
	.form_row, .btns {
		.width_at_bp-auto {
			width: auto;
		}
		
		.width_at_bp-smaller {
			width: ((100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster) * strip-units($form-smaller-input-width / 100));
		}
		
		.width_at_bp-small {
			width: ((100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster) * strip-units($form-small-input-width / 100));
		}
		
		.width_at_bp-medium {
			width: ((100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster) * strip-units($form-medium-input-width / 100));
		}
		
		.width_at_bp-large {
			width: ((100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster) * strip-units($form-large-input-width / 100));
		}
		
		.width_at_bp-larger {
			width: ((100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster) * strip-units($form-larger-input-width / 100));
		}
		
		.width_at_bp-max {
			width: (100% - ($form-label-margin + $form-label-width) + $form-input-width-adjuster);
		}
	}
	
	.form_row--block_inputs {
		label, .label, .input-text, textarea, select {
			display: block;
			margin-bottom: $form-margin;
			margin-left: 0;
			margin-right: 0;
			text-align: left;
			width: 100%;
		}
		
		label, .label {
			margin-bottom: $form-margin / 2;
		}
	}
	
	.radio_checkbox_group--has_legend ul {
		@include rem(margin-left, $std-whitespace-margin * 2);
	}
	
	.radio_checkbox_group:not(.radio_checkbox_group--has_legend) ul {
		@include rem(margin-left, $std-whitespace-margin);
	}
	
	.form_comment, .radio_checkbox_group:not(.radio_checkbox_group--has_legend) ul, .required {
		padding-left: $form-label-margin + $form-label-width;
	}
	
	.btns > :first-child {
		margin-left: $form-label-margin + $form-label-width;
	}
	
	button, [type="submit"] {
		width: auto;
	}
}