/* --------------------------------------------
	Clearfix
----------------------------------------------- */

.clearfix {
	@extend %clearfix;
}

/* --------------------------------------------
	Reset
----------------------------------------------- */

.reset, .reset_lazy, .reset ul, .reset_lazy > ul, .reset ol, .reset_lazy > ol, .reset li, .reset_lazy > li, .rc ul {
	list-style: none !important;
	margin: 0;
	padding: 0;
}

.reset li, .reset_lazy > li {
	position: static;
}

.content_area >, th >, td > {
	& :last-child, & ul:last-child > li:last-child, & ol:last-child > li:last-child {
		margin-bottom: 0;
	}
}

/* --------------------------------------------
	List Bullet Removal & Display None
----------------------------------------------- */

input[type="hidden"], .display_none, .js_display, .js .js_display_none, .no_col_1 #col_1, .no_col_3 #col_3, .grid_container > li.grid_item:before, .list_style_none > li:before, .rc li:before, .reset li:before, .reset_lazy > li:before {
	display: none;
}

/* --------------------------------------------
	Standard Margin
----------------------------------------------- */

blockquote, .cell, .centre_object, cite, .cols, .confirmation_panel, .content_area, dl, .flash, fieldset, .fieldset, hr, iframe, ol, p, .panes, table, ul {
	@include rem(margin-bottom, $std-margin);
}

/* --------------------------------------------
	Constants
----------------------------------------------- */

a[name], a[name]:hover {
	color: inherit !important;
	text-decoration: none !important;
}

acronym, abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

a span {
	cursor: pointer;
}

address {
	font-style: normal;
}

b, strong {
	font-weight: bold;
}

blockquote, q {
	font-family: $quote-font-family;
	quotes: none;
	
	&:before, &:after {
		content: '';
		content: none;
	}
}

blockquote {
	background: $blockquote-bg-color;
	border-left: 3px solid $std-color;
	@include rem(padding, $std-margin);
	
	& > :last-child {
		margin-bottom: 0;
	}
}

cite {
	display: block;
	font-style: italic;
	@include rem(margin-top, -$std-margin);
	text-align: right;
}


.content_area {
	@extend %clearfix;
}

hr {
	background: $hr-color;
	border: 0;
	color: $hr-color;
	height: 1px;
	@include rem(margin, $std-margin * 2 0);
	
	.ltie8 & {
		@include rem(margin-bottom, ($std-margin * 2) - 7);
		@include rem(margin-top, ($std-margin * 2) - ($std-margin - 10 + 17));
	}
}

i, em {
	font-style: italic;
}

iframe:not([width]) {
	width: 100%;
}

a img, img[usemap] {
	border: 0;
}

.file_icon {
	display: inline-block;
	
	&.alt {
		padding-left: 21px;
	}
	
	.ltie8 &.alt {
		padding-left: 0;
	}
	
	&:after, &.alt:before {
		background: url('{{ imgPath }}std_icons.png');
		content: '';
		display: inline-block;
		@include rem(margin-left, 5px);
		height: 16px;
		vertical-align: middle;
		width: 16px;
		
		@include media-query-retina {
			background-image: url('{{ imgPath }}std_icons@2x.png');
			background-size: 16px auto;
		}
	}
	
	&.alt:before {
		margin-left: -21px;
		@include rem(margin-right, 5px);
	}
	
	&.alt:after {
		display: none;
	}
	
	&.link:after, &.alt.link:before {
		background-position: 0 -16px;
	}
	
	&.pdf:after, &.alt.pdf:before {
		background-position: 0 -32px;
	}
	
	&.zip:after, &.alt.zip:before {
		background-position: 0 -48px;
	}
	
	&.audio:after, &.alt.audio:before {
		background-position: 0 -64px;
	}
	
	&.video:after, &.alt.video:before {
		background-position: 0 -80px;
	}
	
	&.doc:after, &.alt.doc:before {
		background-position: 0 -96px;
	}
	
	&.image:after, &.alt.image:before {
		background-position: 0 -112px;
	}
	
	&.excel:after, &.alt.excel:before {
		background-position: 0 -128px;
	}
	
	&.file:after, &.alt.file:before {
		background-position: 0 -144px;
	}
	
	&.page:after, &.alt.page:before {
		background-position: 0 -160px;
	}
	
	&.rss:after, &.alt.rss:before {
		background-position: 0 -176px;
	}
}

img {
	-moz-force-broken-image-icon: 1;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
	
	@if ($is-responsive == true) {
		height: auto;
		max-width: 100%;
	}
	
	&.fixed, .ltie9 & {
		max-width: none;
	}
	
	&.border {
		border: 1px solid $std-color;
	}
	
	&.float_left, &.float_right {
		display: block;
		float: none;
		@include rem(margin, 0 auto $std-margin / 2);
	}
}

@media ($min em($float-bp)) {
	@import "bp-img-float";
}

.js {
	.js_display_block {
		display: block;
	}
	
	.js_display_inline {
		display: inline;
	}
	
	.js_display_inline_block {
		display: inline-block;
	}
	
	.js_display_none {
		display: none;
	}
}

.jquery {
	.jquery_display_block {
		display: block;
	}
	
	.jquery_display_inline {
		display: inline;
	}
	
	.jquery_display_inline_block {
		display: inline-block;
	}
	
	.jquery_display_none {
		display: none;
	}
}

.menu {
	li {
		& > a {
			display: inline-block; // Fixes IE7's whitespace bug
		}
		
		& > a {
			display: block;
			text-decoration: none;
		}
	}
	
	&.hover {
		li {
			& > a {
				@include hover {
					text-decoration: underline;
				}
			}
		}
	}
}

object:focus {
	outline: none;
}

.pane {
	.js & {
		display: none;
	}
	
	.js &:first-child {
		display: block;
	}
}

pre {
	white-space: pre-wrap;
}

.slider > li {
	display: none;

	&:first-child {
		display: block;
	}
}

.std_width {
	@include box-sizing;
	margin: auto;
	@include rem(max-width, $site-width);
}

sub, sup {
	position: relative;
	vertical-align: baseline;
}

.ua-windows_phone-7 {
	@extend .no-fontface !optional;
}

.video_embed {
	max-width: 100%;
	padding-bottom: 56.25%;
	position: relative;
	
	& iframe {
		height: 100%;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}
}

/* --------------------------------------------
	Root Defaults
----------------------------------------------- */

html {
	background: #fff;
	min-height: 100%;
	overflow-y: scroll;
	-ms-overflow-style: scrollbar;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	
	@if ($is-responsive == true) {
		@include media-query(1px, false) {
			overflow-x: hidden;
		}
	}
	
	@include media-query(776px, false, $max) {
		-ms-overflow-style: auto;
	}
}

body {
	color: $text-color;
	font-family: $std-font-family;
	@include font-size-line-height($std-font-size, $std-line-height);
	min-height: 100%;
	
	.vendor-ie:not(.ltie9) & {
		@include line-height($std-line-height + 1, $std-font-size);
	}
	
	* {
		font-size: 1em;
	}
}

/* --------------------------------------------
	Link Colors
----------------------------------------------- */

a {
	color: $std-link-color;
	
	@include hover {
		color: $std-hover-color;
	}
}

:visited {
	color: $std-visited-color;
}

/* --------------------------------------------
	Headings
----------------------------------------------- */

h1 {
	@include rem(font-size, $heading1-font-size);
}

h2 {
	@include rem(font-size, $heading2-font-size);
}

h3 {
	@include rem(font-size, $heading3-font-size);
}

h4 {
	@include rem(font-size, $heading4-font-size);
}

h5 {
	@include rem(font-size, $heading5-font-size);
}

h6 {
	@include rem(font-size, $heading6-font-size);
}

@for $h from 1 to 7 {
	.h#{$h} {
		@extend h#{$h};
	}
}

h1, h2, h3, h4, h5, h6 {
	color: $std-color;
	
	&:first-child,
	& + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
		margin-top: 0;
	}
	
	&.sub,
	& + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
		color: $sub-color;
	}
	
	&.alt {
		color: $alt-color;
	}
	
	&.std {
		color: $std-color;
	}
}

/* --------------------------------------------
	Lists
----------------------------------------------- */

ol, ul {
	list-style: none;
	@include rem(margin-left, $list-margin-left);
	
	&.list_style_none {
		list-style: none !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
}

ol {
	list-style-type: decimal;
	
	&.lower_alpha {
		list-style-type: lower-alpha;
	}
	
	&.upper_alpha {
		list-style-type: upper-alpha;
	}
	
	&.lower_roman {
		list-style-type: lower-roman;
	}
	
	&.upper_roman {
		list-style-type: upper-roman;
	}
}

.ltie8 ul {
	list-style-type: disc;
}

li {
	@include rem(margin-bottom, $std-margin / $list-item-margin-denominator);
	position: relative;
	
	.ltie8 & {
		position: static;
	}
	
	& > ol, & > ul {
		@include rem(margin-top, $std-margin);
	}
	
	ul > &:before {
		content: '';
		display: inline-block;
		position: absolute;
	}
}

.list_next_to_float, .float_left + ul, .float_right + ul, .float_left + ol, .float_right + ol {
	overflow: hidden;
	@include rem(padding-left, $list-margin-left);
	
	@if ($is-responsive) {
		@include media-query($float-bp - 1, $max) {
			clear: both;
			overflow: visible;
			padding-left: 0;
		}
	}
}

dt, dd {
	display: inline;
}

dd:after {
	content: '\A';
	white-space: pre;
}

/* --------------------------------------------
	Tables
----------------------------------------------- */

caption {
	@include rem(margin-bottom, $std-margin);
	text-align: left;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

td, th {
	vertical-align: top;
}

.unstyled {
	@include box-shadow(none);
	width: auto;
	
	& td, & th {
		background: none !important;
		border: 0 !important;
		color: $text-color !important;
		padding: 0 !important;
		text-align: left;
		vertical-align: top !important;
	}
}

.ie9_grid_dummy {
	td {
		background: none !important;
		padding: 0 !important;
	}
}

/* --------------------------------------------
	Forms
----------------------------------------------- */

fieldset {
	border: 0;
}

legend {
	left: -999em;
	position: absolute;
	top: -999em;
}

[data-legend]:before {
	content: attr(data-legend);
	display: block;
}

::-webkit-search-decoration, ::-webkit-search-cancel-button, input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

input[type="search"] {
	-webkit-appearance: none;
}

@include placeholder;

.text, textarea, select {
	color: $form-input-color;
	margin: 0;
	
	html:not(.ltie9) &:not([disabled]) {
		&:hover {
			background-color: $form-input-hover-color;
			outline: none;
		}
		
		&:focus {
			background-color: $form-input-focus-color;
			@include box-shadow(0 0 6px $form-input-boxshadow-color);
			outline: none;
		}
	}
	
	&.form_error {
		border-color: $form-input-error-color !important;
	}
}

:-moz-ui-invalid:not(output) {
	box-shadow: 0 0 3px 0 $form-input-error-color !important;
}

input {
	&[type="radio"], &[type="checkbox"] {
		&.form_error {
			@include box-shadow(0 0 1.5px 1.5px lighten($form-input-error-color, 10%));
		}
		
		&.form_error + label {
			color: $form-input-error-color;
		}
	}
}

.touch label {
	cursor: pointer;
}

.btn, .btn_wrap, button, [type="submit"], .text, label, .label, p.legend, select, textarea {
	@include box-sizing;
	display: block;
	font-family: $std-font-family;
	line-height: normal;
	width: 100%;
}

.text, label, .label, p.legend, select, textarea {
	vertical-align: top;
}

em {
	.required &, label & , .label &, p.legend & {
		color: $form-input-error-color;
		font-style: normal;
	}
}

.f_comment, .f_margin, .f_row, .required, .rc {
	@include rem(margin-bottom, $form-margin);
}

.f_row > div {
	@include rem(margin-top, $form-margin);
}

fieldset .description {
	display: block;
}

.text, textarea, html:not(.browser-android) select {
	background-color: $form-input-background-color;
	border: $form-input-border-width solid $form-input-border-color;
}

.text, textarea {
	@include border-radius($form-input-border-radius);
}

.text:not(.date_time) {
	-webkit-appearance: none;
}

.text.date_time {
	display: -webkit-inline-flex;
}

button, [type="submit"], .text, textarea, select {
	@include rem(font-size, $base-font-size);
	
	.no-touch & {
		@include rem(font-size, $std-font-size);
	}
}

select {
	-webkit-appearance: menulist;
	
	&.auto {
		width: auto !important;
	}
}

textarea {
	@include rem(min-height, $text-area-minheight);
	overflow: auto;
}

.rc {
	li {
		@include rem(margin-bottom, $form-margin / 2);
	}
	
	input {
		position: absolute;
	}
	
	label {
		font-weight: normal;
		padding-left: $form-rc-label-indent;
		width: auto;
	}
}

.f_row, .btns {
	.w_auto {
		width: auto;
	}
	
	.w_smaller {
		width: $form-smaller-input-width;
	}

	.w_small {
		width: $form-small-input-width;
	}

	.w_medium {
		width: $form-medium-input-width;
	}

	.w_large {
		width: $form-large-input-width;
	}

	.w_larger {
		width: $form-larger-input-width;
	}
	
	.w_max {
		width: 100%;
	}
}

@media ($min em($form-bp)) {
	@import "bp-form-fields";
}

.btn, .btn_wrap {
	width: auto;
}

.btn, .btn_wrap, button, [type="submit"] {
	-webkit-appearance: none;
	@include border-radius($btn-border-radius);
	color: $btn-text-color;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	overflow: visible;
	text-decoration: none !important;
	
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	
	@include hover {
		color: $btn-hover-text-color;
	}
}

.btn_wrap {
	position: relative;
	
	input {
		opacity: 0;
		position: relative;
		z-index: 2;
	}
	
	&[data-label] {
		&:before {
			content: attr(data-label);
		}
		
		input {
			border: 0;
			left: 0;
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

/* --------------------------------------------
	Error & .ok Styling
-----------------------------------------------*/

.confirmation_panel {
	border: 1px solid $error-border-color;
	@include border-radius(8px);
	@include rem(padding, 15px);
	
	& ul {
		margin: 14px 0 0 23px;
		@include rem(margin-top, 14px, false);
	}
	
	& li:last-child {
		margin-bottom: 0;
	}
}

.confirmation_heading {
	@include rem(font-size, 16px);
	margin-bottom: 0;
	padding-left: 24px;
	position: relative;
	
	.ltie8 & {
		color: #b00;
		padding-left: 0;
	}
	
	&:before {
		background: url('{{ imgPath }}std_icons.png') 0 -192px;
		content: '';
		height: 16px;
		margin-left: -24px;
		margin-top: -8px;
		position: absolute;
		top: 50%;
		width: 16px;
		
		@include media-query-retina {
			background-image: url('{{ imgPath }}std_icons@2x.png');
			background-size: 16px auto;
		}
	}
}

.confirmation_heading-ok {
	.ltie8 & {
		color: #060;
	}
	
	&:before {
		background-position: 0 -208px;
	}
}

/* --------------------------------------------
	Accordions
----------------------------------------------- */

.accordion {
	.js & {
		visibility: hidden;
	}
	
	.jquery & {
		visibility: visible;
	}
}

.accordion_toggler {
	display: block;
	text-decoration: none;
}

.accordion_content {
	.js & {
		height: 0;
		overflow: hidden;
	}
	
	.js .open + & {
		height: auto;
	}
	
	.js .accordion_to_tabs .open + & {
		height: auto !important;
	}
	
	.accordion_to_tabs & {
		@include transition(none !important);
	}
}

/* --------------------------------------------
	Site
----------------------------------------------- */

.no_col_1.no_col_3 #col_2 {
	width: 100%;
}

#breadcrumbs li {
	display: inline-block;
}