/* --------------------------------------------
	Consistent Margins
----------------------------------------------- */

.m-std, .m-standard, %m-std, %m-standard {
	@include rem(margin-bottom, $std-margin);
	@include rem(margin-top, $std-margin);
}

.mb-std, .mb-standard, %mb-std, %mb-standard {
	@include rem(margin-bottom, $std-margin);
}

.mt-std, .mt-standard, %mt-std, %mt-standard {
	@include rem(margin-top, $std-margin);
}

.m-dbl, .m-double, %m-dbl, %m-double {
	@include rem(margin-bottom, $std-margin * 2);
	@include rem(margin-top, $std-margin * 2);
}

.mb-dbl, .mb-double, %mb-dbl, %mb-double {
	@include rem(margin-bottom, $std-margin * 2);
}

.mt-dbl, .mt-double, %mt-dbl, %mt-double {
	@include rem(margin-top, $std-margin * 2);
}

.m-hlf, .m-half, %m-hlf, %m-half {
	@include rem(margin-bottom, $std-margin / 2);
	@include rem(margin-top, $std-margin / 2);
}

.mb-hlf, .mb-half, %mb-hlf, %mb-half {
	@include rem(margin-bottom, $std-margin / 2);
}

.mt-hlf, .mt-half, %mt-hlf, %mt-half {
	@include rem(margin-top, $std-margin / 2);
}

.m-no, %m-no {
	margin-bottom: 0;
	margin-top: 0;
}

.mb-no, %mb-no {
	margin-bottom: 0;
}

.mt-no, %mt-no {
	margin-top: 0;
}

/* --------------------------------------------
	Helper Classes
----------------------------------------------- */

.align-left {
	text-align: left;
}

.align-center, .align-centre {
	text-align: center;
}

.align-right {
	text-align: right;
}

.align-justify {
	text-align: justify;
}

.case-lower {
	text-transform: lowercase;
}

.case-normal {
	text-transform: none;
}

.case-title {
	text-transform: capitalize;
}

.case-upper {
	text-transform: uppercase;
}

.center_object, .centre_object {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.center_object--table, .centre_object--table {
	display: table;
}

.clear-both {
	clear: both;
}

.clear-left {
	clear: left;
}

.clear-none {
	clear: none;
}

.clear-right {
	clear: right;
}

.display-block {
	display: block;
}

.display-inline {
	display: inline;
}

.display-inline_block {
	display: inline-block;
}

.display-none {
	@extend %display-none;
}

.float-left {
	float: left;
	
	+ .content_area {
		overflow: hidden;
	}
}

.float-right {
	float: right;
}

.hidden {
	@include hidden;
}

.horizontal {
	@extend %horizontal;
}

.horizontal-auto {
	@extend %horizontal-auto;
}

.no_wrap {
	white-space: nowrap;
}

.overflow_x-auto {
	overflow-x: auto;
}

.overflow_x-hidden {
	overflow-x: hidden;
}

.overflow_x-visible {
	overflow-x: visible;
}

.overflow_y-auto {
	overflow-y: auto;
}

.overflow_y-hidden {
	overflow-y: hidden;
}

.overflow_y-visible {
	overflow-y: visible;
}

.position-absolute {
	position: absolute;
}

.position-fixed {
	position: fixed;
}

.position-relative {
	position: relative;
}

.valign-bottom {
	vertical-align: bottom;
}

.valign-middle {
	vertical-align: middle;
}

.valign-top {
	vertical-align: top;
}

.visibility-hidden {
	visibility: hidden;
}

.visibility-visible {
	visibility: visible;
}

.weight-bold {
	font-weight: bold;
}

.weight-normal {
	font-weight: normal;
}