/* --------------------------------------------
	Hiddens
----------------------------------------------- */

.print_display_none {
	display: none !important;
}

#nav_main, .managed:after, .managed.alt:before {
	@extend .print_display_none;
}

/* --------------------------------------------
	Constants
----------------------------------------------- */

*, :before, :after {
	background: none !important;
	behavior: none !important;
	@include box-shadow(none !important);
}

ul {
	list-style-type: disc;
	
	li & {
		list-style-type: circle;
	}
}

#col_2 {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 100% !important;
}

.error h3 {
	// .ok extends
	padding-left: 0;
}

.managed.alt {
	padding-left: 0;
}