/* --------------------------------------------
	Hiddens
----------------------------------------------- */

.print_display-none {
	display: none !important;
}

#nav_main, .file_icon:after, .file_icon--reversed:before {
	@extend .print_display-none;
}

/* --------------------------------------------
	Constants
----------------------------------------------- */

*, :before, :after {
	background: none !important;
	behavior: none !important;
	@include box-shadow(none !important);
}

ul {
	list-style-type: disc;
	
	li & {
		list-style-type: circle;
	}
}

#col_2 {
	margin-left: 0 !important;
	margin-right: 0 !important;
	width: 100% !important;
}

.confirmation_heading, .file_icon--reversed {
	padding-left: 0;
}