/* --------------------------------------------
	Forms
----------------------------------------------- */

fieldset .description {
	color: $form-description-color;
	@include rem(font-size, 12px);
	font-weight: normal;
	@include rem(margin-top, 3px);
}

label, .label, .radio_checkbox_group_legend {
	@include rem(margin-bottom, $form-margin / 2);
}

.input-text, textarea {
	@include rem(padding, $form-input-padding-vertical $form-input-padding-horizontal);
	
	.vendor-mozilla & {
	}
	
	.ie9 &, .vendor-ie-10 & {
	}
}

textarea {
	resize: vertical;
}

select {
	@include rem(padding, $form-input-padding-vertical - 1 $form-input-padding-horizontal - 1 $form-input-padding-vertical - 1 $form-input-padding-horizontal - 3);
	
	.vendor-mozilla & {
		@include rem(padding-top, $form-input-padding-vertical - 2, false);
	}
	
	.ie &, .vendor-ie & {
		@include rem(padding-bottom, $form-input-padding-vertical - 2);
		@include rem(padding-top, $form-input-padding-vertical);
	}
	
	.ua-desktop-macintosh.vendor-webkit &, .ua-ios.vendor-webkit & {
		// height of normal inputs in rems
	}
}

.ltie8 .radio_checkbox_group ul label {
	margin-top: -18px;
}

.radio_checkbox_group input {
	@include rem(margin, 1px 0 0 2px);
	
	.ie &, .vendor-ie & {
		@include rem(margin, -3px 0 0 -2px);
	}
	
	.browser-android & {
		@include rem(margin-top, -2px, false);
	}
	
	.browser-android.ua-android-2 & {
		@include rem(margin-top, -5px, false);
	}
}

.btn, button, [type="submit"] {
	@include gradient($btn-background-color);
	border: 1px solid $btn-border-color;
	@include rem(padding, $form-btn-padding-vertical $form-btn-padding-horizontal);
	
	.vendor-mozilla & {
		@include rem(padding-top, $form-btn-padding-vertical - 1, false);
	}
	
	@include hover {
		@include gradient($btn-hover-background-color);
		border-color: $btn-hover-border-color;
	}
}

// .btns & [type="submit"]s will render at different sizes. Modify as appropriate to make them equal
.btn {
	.ie &, .vendor-ie & {
	}
	
	.vendor-mozilla & {
	}
	
	.vendor-webkit & {
	}
}

button, [type="submit"] {
	.ie &, .vendor-ie & {
	}
	
	.vendor-mozilla & {
	}
	
	.vendor-webkit & {
	}
}