%icomoon {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	speak: none;
	text-transform: none;
	
	/* Better Font Rendering =========== */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

%icomoon-accessible {
	@extend %icomoon;
	
	.no-fontface & {
		&:before {
			content: '' !important;
		}
		
		~ .hidden {
			display: inline-block;
			@include font-size-line-height(10px, 12px);
			height: auto;
			left: 0;
			position: static;
			text-align: left;
			top: 0;
			width: auto;
		}
	}
}

@include icomoon {
	@extend %icomoon-accessible;
}

// Add custom icomoon classes here