/* --------------------------------------------
	Hiddens
----------------------------------------------- */

#header form, #col_1, #nav_seo {
	@extend .print_display-none;
}

/* --------------------------------------------
	Site Specific
----------------------------------------------- */

