// --------------------------------------------
//	Colours
// --------------------------------------------

$text-color: #111;
$std-color: #006;
$sub-color: #555;
$alt-color: $text-color;
$hr-color: #b8b7b7;
$blockquote-bg-color: #edece6;

$std-link-color: #00e;
$std-hover-color: #e00;
$std-visited-color: mix(#551a8b, $text-color, 60%);

$alt-link-color: #ff1;
$alt-hover-color: #1ff;
$alt-visited-color: #aae574;

$std-table-color: #f8f8f8;

$form-input-color: $text-color;
$form-input-background-color: #fff;
$form-input-border-color: #5d5d5d;
$form-input-hover-color: #ffffe5;
$form-input-focus-color: #ffc;
$form-input-boxshadow-color: rgba(#52a8ec, 0.5);
$form-input-error-color: #c00;
$form-placeholder-color: #999;
$form-placeholder-text-transform: null;
$form-description-color: #888;

$btn-background-color: #f6f8f9, 0%, #e5ebee, 50%, #d7dee3, 50%, #f2f5f7, 100%;
$btn-border-color: #5d5d5d;
$btn-text-color: #120c08;
$btn-hover-background-color: darken(#f6f8f9, 5%), 0%, darken(#e5ebee, 5%), 50%, darken(#d7dee3, 5%), 50%, darken(#f2f5f7, 5%), 100%;
$btn-hover-border-color: darken($btn-border-color, 5%);
$btn-hover-text-color: darken($btn-text-color, 5%);

$error-border-color: #ddd;

// --------------------------------------------
//	Font Families
// --------------------------------------------

$std-fontfamily: sans-serif;
$heading-fontfamily: sans-serif;
$heading-nofontface-fontfamily: null;
$quote-fontfamily: Georgia, serif;

// --------------------------------------------
//	Font Sizes
// --------------------------------------------

$std-fontsize: 14px;
$heading1-fontsize: 24px;
$heading2-fontsize: 22px;
$heading3-fontsize: 20px;
$heading4-fontsize: 18px;
$heading5-fontsize: 16px;
$heading6-fontsize: 14px;

// --------------------------------------------
//	Line Heights
// --------------------------------------------

$std-lineheight: 20px;

// --------------------------------------------
//	Margins
// --------------------------------------------

$std-margin: 14px;
$std-gutter: 20px;
$lineheight-margin: 3px;
$std-whitespace-margin: -4px;

$form-margin: 10px;
$form-label-margin: 3%;

$list-margin-left: 40px;
$list-item-margin-denominator: 2;

// --------------------------------------------
//	Paddings
// --------------------------------------------

$form-input-padding-vertical: 4px;
$form-input-padding-horizontal: 4px;
$form-btn-padding-vertical: 7px;
$form-btn-padding-horizontal: 14px;

// --------------------------------------------
//	Positions
// --------------------------------------------

$list-bullet-top: 7px;

$form-labels-aligned-right: true;
$form-required-indicator-right: -5px;

// --------------------------------------------
//	Sizes
// --------------------------------------------

$form-label-width: 30%;
$form-input-width-adjuster: -0%;

$form-smaller-input-width: 16.6666%;
$form-small-input-width: 33.3333%;
$form-medium-input-width: 50%;
$form-large-input-width: 66.6666%;
$form-larger-input-width: 83.3333%;

$text-area-minheight: 120px;

// --------------------------------------------
//	Other
// --------------------------------------------

$form-input-border-radius: 3px;
$btn-border-radius: 3px;

$default-pie-path: '/css/PIE.htc';

// --------------------------------------------
//	Breakpoints
// --------------------------------------------

$is-responsive: true;

$site-width: 960px;
$desktop-bp: $site-width;

$float-bp: 464px;
$form-bp: 534px; // Set to 0 to have "block-level" form fields always

@if ($is-responsive == false) {
	$float-bp: 1px;
	$form-bp: 1px;
	$feature-bp: 1px;
}