/* --------------------------------------------
	Forms
----------------------------------------------- */

fieldset .description {
	color: $form-description-color;
	@include rem(font-size, 12px);
	font-weight: normal;
	@include rem(margin-top, 3px);
}

label, .label, p.legend {
	@include rem(margin-bottom, $form-margin / 2);
}

input.text, textarea {
	@include rem(padding, $form-input-padding);
	
	.vendor-mozilla & {
	}
	
	.ie9 &, .vendor-ie-10 & {
	}
}

textarea {
	resize: vertical;
}

select {
	@include rem(padding, $form-input-padding - 1 $form-input-padding - 1 $form-input-padding - 1 $form-input-padding - 3);
	
	.vendor-mozilla & {
		@include rem(padding-top, $form-input-padding - 2, false);
	}
	
	.ie &, .vendor-ie & {
		@include rem(padding-bottom, $form-input-padding - 2);
		@include rem(padding-top, $form-input-padding);
	}
	
	.ua-desktop-macintosh.vendor-webkit & {
		// height of normal inputs in rems
	}
}

.ltie8 .rc ul label {
	margin-top: -18px;
}

.rc input {
	@include rem(margin, 1px 0 0 2px);
	
	.ie &, .vendor-ie & {
		@include rem(margin, -3px 0 0 -2px);
	}
	
	.browser-android & {
		@include rem(margin-top, -2px, false);
	}
	
	.browser-android.ua-android-2 & {
		@include rem(margin-top, -5px, false);
	}
}

.btn, .btn_wrap[data-label], input.submit {
	@include gradient($btn-background-color);
	border: 1px solid $btn-border-color;
	@include rem(padding, $form-btn-padding-vertical $form-btn-padding-horizontal);
	
	.vendor-mozilla & {
		@include rem(padding-top, $form-btn-padding-vertical - 1, false);
	}
	
	@include hover {
		@include background($btn-hover-background-color, true);
		border-color: $btn-hover-border-color;
	}
}

// .buttons & .submits will render at different sizes. Modify as appropriate to make them equal
.btn, .btn_wrap[data-label] {
	.ie &, .vendor-ie & {
	}
	
	.vendor-mozilla & {
	}
	
	.vendor-webkit & {
	}
}

input.submit {
	.ie &, .vendor-ie & {
	}
	
	.vendor-mozilla & {
	}
	
	.vendor-webkit & {
	}
}

.btns > .btn {
	// Reset Cognition's div.btn > span.btn > span > input.submit form builder pattern
	background: 0 !important;
	border: 0 !important;
	padding: 0 !important;
}