#site {
	@include rem(font-size, $std-fontsize);
}

#header {
}

#nav_main {
}

#content {
}

#col_1 {
}

#col_2 {
	.no_col_1 & {
	}
	
	.no_col_3 & {
	}
}

#col_3 {
}

#nav_sub {
}

#footer {
}

#nav_seo {
}