/* --------------------------------------------
	Simple Customisations
----------------------------------------------- */

a {
	color: $std-link-color;
	text-decoration: underline;
	
	&:visited {
		color: $std-visited-color;
		text-decoration: underline;
	}
	
	@include hover {
		color: $std-hover-color;
		text-decoration: none;
	}
}

.feature {
	&:after {
		@include triangle;
		margin-left: em(10px);
	}
	
	@include hover(after) {
		border-left-color: $std-hover-color;
	}
	
	&.smaller:after {
		@include triangle(right, 4px, 8px);
	}
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	color: $std-color;
	font-family: $heading-fontfamily;
	font-weight: bold;
	line-height: normal;
	@include rem(margin, $std-margin * 2 0 $std-margin / 2);
	
	.no-fontface & {
		font-family: $heading-nofontface-fontfamily;
	}
}

sub, sup {
	font-size: em(12px);
	
	.ie &, .vendor-ie & {
		font-size: em(14px);
	}
}

sub {
	bottom: em(-3px);
}

sup {
	top: em(-5px);
}

/* --------------------------------------------
	Lists
----------------------------------------------- */

ul > li {
	&:before {
		background: $text-color;
		@include border-radius(50%);
		height: 5px;
		left: -18px;
		@include rem(top, $list-bullet-top);
		width: 5px;
	}
}

/* --------------------------------------------
	Tables
----------------------------------------------- */

td, th {
	border: solid darken($std-table-color, 5%);
	border-width: 1px 0;
	@include rem(padding, 15px 20px);
	text-align: left;
	text-shadow: 0 1px 1px #fff;
	
	tr > &:first-child {
		border-left-width: 1px;
	}
	
	tr > &:last-child {
		border-right-width: 1px;
	}
}

thead, tfoot {
	@include box-shadow(0 1px 2px rgba(0,0,0,0.15));
	
	th {
		@include gradient((lighten($std-table-color, 10%), 0%, darken($std-table-color, 1%), 100%));
		font-weight: bold;
	}
}

tfoot {
	@include box-shadow(none);
}

tr:nth-child(even) {
	& td, & th {
		background: $std-table-color;
	}
}