/* --------------------------------------------
	Feature Slider
----------------------------------------------- */

.slider {
	> li {
		.js & {
			visibility: hidden;
		}
		
		.swipejs & {
		}
	}
	
	.tile {
		height: 100%;
		position: relative;
	}
}

.carousel {
	position: relative;
}

.nav {
	bottom: 0;
	left: 0;
	position: absolute;
	top: 0;
	width: 30px;
	z-index: 30;
	
	@include media-query($feature-bp) {
		@include rgba-background((#000, #666), .57);
		
		&:hover {
			@include rgba-background(#000, .77);
		}
	}
	
	&:after {
		@include triangle(left, 8px, 16px, #fff);
		left: 50%;
		margin: -8px 0 0 -4px;
		position: absolute;
		top: 50%;
	}
	
	&.next {
		left: auto;
		right: 0;
		
		&.next:after {
			@include triangle(right, 8px, 16px, #fff, false, true, false);
		}
	}
	
	span {
		@include hide-text(block, 0)
	}
}

.nav_pager {
	bottom: -16px;
	position: absolute;
	right: 0;
	
	li {
		float: left;
	}

	a {
		background: #f2f5f7;
		border: 1px solid #adb9c2;
		height: 8px;
		margin-left: 8px;
		width: 10px;
		@include hide-text();
	}

	.current a {
		background: #000;
		border-color: #000;
	}
}