/* --------------------------------------------
	List Bullet Removal & Display None
----------------------------------------------- */
.rc li:before {
  display: none;
}

/* --------------------------------------------
	Constants
----------------------------------------------- */
.grid {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.cell {
  display: table-cell;
  margin-bottom: 0;
  padding-right: 20px;
  vertical-align: top;
}
.cell:not(.text) {
  text-align: center;
}
.cell:last-child {
  padding-right: 0;
}
.cell:first-child:not(.text) {
  text-align: left;
}
.cell:last-child:not(.text) {
  text-align: right;
}

.ltie8 .grid {
  display: block;
}
.ltie8 .cell {
  float: left;
  margin-bottom: 20px;
}
.ltie8 .cell img {
  max-width: none;
}

ul.horizontal, .horizontal ul:first-of-type {
  display: table;
  width: 100%;
}
ul.horizontal > li, .horizontal ul:first-of-type > li {
  display: table-cell;
}
ul.horizontal > li > a, .horizontal ul:first-of-type > li > a {
  text-align: center;
}
.ltie8 ul.horizontal, .ltie8 .horizontal ul:first-of-type {
  min-height: 0;
  display: block;
}
.ltie8 ul.horizontal:after, .ltie8 .horizontal ul:first-of-type:after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}
.ltie8 ul.horizontal > li, .ltie8 .horizontal ul:first-of-type > li {
  float: left;
}

/* --------------------------------------------
	Simple Customisations
----------------------------------------------- */
img.float_left {
  float: left;
  margin: 3px 14px 14px 0;
  margin: 0.1875rem 0.875rem 0.875rem 0;
}
img.float_right {
  float: right;
  margin: 3px 0 14px 14px;
  margin: 0.1875rem 0 0.875rem 0.875rem;
}

/* --------------------------------------------
	Forms
----------------------------------------------- */
.f_row label, .f_row .label {
  margin-top: 5px;
  margin-top: 0.3125rem;
}
.vendor-mozilla .f_row label, .vendor-mozilla .f_row .label {
  margin-top: 0.25rem;
}
.ie .f_row label, .vendor-ie .f_row label, .ie .f_row .label, .vendor-ie .f_row .label {
  margin-top: 6px;
  margin-top: 0.375rem;
}
.f_row label em, .f_row .label em {
  position: absolute;
  right: -10px;
  right: -0.625rem;
}

.f_row label, .f_row .label, p.legend {
  display: inline-block;
  margin-right: 3%;
  position: relative;
  text-align: right;
  width: 30%;
}

.f_row input.text, .f_row textarea, .f_row select, .rc.legend ul {
  display: inline-block;
  margin-left: -4px;
  margin-left: -0.25rem;
  width: 67%;
}

.rc.legend ul {
  margin-left: -8px;
  margin-left: -0.5rem;
}

.btns, .f_comment, .rc:not(.legend) ul, .required {
  padding-left: 33%;
  margin-left: -4px;
  margin-left: -0.25rem;
}

input.submit {
  width: auto;
}

.ltie8 .f_row label, .ltie8 .f_row .label, .ltie8 p.legend {
  width: 27%;
}

.ltie8 .btns, .ltie8 .f_comment, .ltie8 .rc ul, .ltie8 .required {
  margin-left: 30%;
}

/* --------------------------------------------
	Feature Slider
----------------------------------------------- */
.nav {
  background: #666;
}
.nav:hover {
  background: #000;
}

/* --------------------------------------------
	Behaviors
----------------------------------------------- */
a.btn, input.submit {
  behavior: url("/css/PIE.htc");
  position: relative;
}

/* --------------------------------------------
	Display None
----------------------------------------------- */
/* --------------------------------------------
	Site Specific
----------------------------------------------- */
