<div id="header" role="banner">
	<h3 class="hidden"><a href="/">{{ siteName }}</a></h3>
	<p id="logo" class="reset"><a href="/"><img src="{{ imgPath }}logo.svg" width="" height="" alt="{{ siteName }}" onerror="this.src='{{ imgPath }}logo.png'" /></a></p>
	
	<form action="#" method="get" role="search">
		<fieldset>
			<legend>Search {{ siteName }}</legend>
			<label for="q">Search</label>
			<input type="search" id="q" name="q" class="text" placeholder="Search" />
			<input type="submit" class="submit" value="Search" />
		</fieldset>
	</form>
</div>
