.grid {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.cell {
	display: table-cell;
	margin-bottom: 0;
	padding-right: $grid-cell-padding;
	vertical-align: top;
	&:not(.text) {
		text-align: center;
	}
	&:last-child {
		padding-right: 0;
	}
	&:first-child:not(.text) {
		text-align: left;
	}
	&:last-child:not(.text) {
		text-align: right;
	}
}