/* --------------------------------------------
	Clearfix
----------------------------------------------- */

.clearfix {
	@extend %clearfix;
}

/* --------------------------------------------
	Reset
----------------------------------------------- */

.reset, .reset ul, .reset_lazy > ul, .reset ol, .reset_lazy > ol, .reset li, .reset_lazy > li, .rc ul {
	list-style: none !important;
	margin: 0;
	padding: 0;
}

.content_area >, th >, td > {
	& *:last-child, & ul:last-child > li:last-child, & ol:last-child > li:last-child {
		margin-bottom: 0;
	}
}

/* --------------------------------------------
	List Bullet Removal & Display None
----------------------------------------------- */

input[type="hidden"], .display_none, .js .js_display_none, .no_col_1 #col_1, .no_col_3 #col_3, .grid_container > li.grid_item:before, .list_style_none > li:before, .rc li:before, .reset li:before, .reset_lazy > li:before {
	display: none;
}

/* --------------------------------------------
	Consistent Margins
----------------------------------------------- */

.std_margin, .std_mb {
	@include rem(margin-bottom, $std-margin);
}

.std_m {
	@include rem(margin-bottom, $std-margin);
	@include rem(margin-top, $std-margin);
}

.std_mt {
	@include rem(margin-top, $std-margin);
}

.dbl_m {
	@include rem(margin-bottom, $std-margin * 2);
	@include rem(margin-top, $std-margin * 2);
}

.dbl_mb {
	@include rem(margin-bottom, $std-margin * 2);
}

.dbl_mt {
	@include rem(margin-top, $std-margin * 2);
}

.no_mb {
	margin-bottom: 0;
}

.no_mt {
	margin-top: 0;
}

/* --------------------------------------------
	Standard Margin
----------------------------------------------- */

blockquote, .cell, .centre_object, cite, .cols, .content_area, dl, .error, .flash, fieldset, .fieldset, hr, iframe, .ok, ol, p, .panes, table, ul {
	@extend .std_margin;
}

/* --------------------------------------------
	Constants
----------------------------------------------- */

a, input, button {
	-ms-touch-action: none !important;
}

a[name], a[name]:hover {
	color: inherit !important;
	text-decoration: none !important;
}

acronym, abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

a span {
	cursor: pointer;
}

address {
	font-style: normal;
}

.align_left {
	text-align: left !important;
}

.align_center, .align_centre {
	text-align: center !important;
}

.align_right {
	text-align: right !important;
}

.align_justify {
	text-align: justify !important;
}

b, strong {
	font-weight: bold;
}

.block {
	display: block !important;
}

blockquote, q {
	font-family: $quote-fontfamily;
	quotes: none;
	
	&:before, &:after {
		content: '';
		content: none;
	}
}

blockquote {
	background: $blockquote-bg-color;
	border-left: 3px solid $std-color;
	@include rem(padding, $std-margin $std-margin 1px $std-margin);
}

.js [data-classquery] {
	visibility: hidden;
}

.classquery-complete [data-classquery], .ltie9 [data-classquery] {
	visibility: visible;
}

.centre_object {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

table.centre_object {
	display: table;
}

cite {
	display: block;
	font-style: italic;
	@include rem(margin-top, -$std-margin);
	text-align: right;
}

.clear {
	clear: both;
}

.cols {
	@extend %clearfix;
}

.col {
	float: right;
	width: 50%;
	
	&:first-child {
		float: left;
	}
}

.content_area {
	@extend %clearfix;
}

.float_left {
	float: left;
	
	+ .content_area {
		overflow: hidden;
	}
}

.float_right {
	float: right;
}

.hidden {
	@include hidden;
}

hr {
	background: $hr-color;
	border: 0;
	color: $hr-color;
	height: 1px;
	@include rem(margin, $std-margin * 2 0);
	
	.ltie8 & {
		@include rem(margin-bottom, ($std-margin * 2) - 7);
		@include rem(margin-top, ($std-margin * 2) - ($std-margin - 10 + 17));
	}
}

i, em {
	font-style: italic;
}

iframe:not([width]) {
	width: 100%;
}

a img, img[usemap] {
	border: 0;
}

img {
	-moz-force-broken-image-icon: 1;
	-ms-interpolation-mode: bicubic;
	vertical-align: bottom;
	
	@if ($is-responsive == true) {
		height: auto;
		max-width: 100%;
	}
	
	&.fixed, .ltie9 & {
		max-width: none;
	}
	
	&.border {
		border: 1px solid $std-color;
	}
	
	&.float_left, &.float_right {
		display: block;
		float: none;
		@include rem(margin, 0 auto $std-margin / 2);
	}
}

@media ($min em($float-bp)) {
	@import "partials/bp-img-float";
}

.inline {
	display: inline !important;
}

.inline_block {
	display: inline-block !important;
}

.invisible {
	visibility: hidden !important;
}

.lowercase {
	text-transform: lowercase;
}

.managed {
	display: inline-block;
	
	&.alt {
		padding-left: 21px;
	}
	
	.ltie8 &.alt {
		padding-left: 0;
	}
	
	&:after, &.alt:before {
		background: url(/images/site/std_icons.png);
		content: '';
		display: inline-block;
		@include rem(margin-left, 5px);
		height: 16px;
		vertical-align: middle;
		width: 16px;
		
		@include media-query-retina {
			background-image: url(/images/site/std_icons@2x.png);
			background-size: 16px auto;
		}
	}
	
	&.alt:before {
		margin-left: -21px;
		@include rem(margin-right, 5px);
	}
	
	&.alt:after {
		display: none;
	}
	
	&.link:after, &.alt.link:before {
		background-position: 0 -16px;
	}
	
	&.pdf:after, &.alt.pdf:before {
		background-position: 0 -32px;
	}
	
	&.zip:after, &.alt.zip:before {
		background-position: 0 -48px;
	}
	
	&.audio:after, &.alt.audio:before {
		background-position: 0 -64px;
	}
	
	&.video:after, &.alt.video:before {
		background-position: 0 -80px;
	}
	
	&.doc:after, &.alt.doc:before {
		background-position: 0 -96px;
	}
	
	&.image:after, &.alt.image:before {
		background-position: 0 -112px;
	}
	
	&.excel:after, &.alt.excel:before {
		background-position: 0 -128px;
	}
	
	&.file:after, &.alt.file:before {
		background-position: 0 -144px;
	}
	
	&.page:after, &.alt.page:before {
		background-position: 0 -160px;
	}
	
	&.rss:after, &.alt.rss:before {
		background-position: 0 -176px;
	}
}

.menu {
	li {
		position: static;
		
		& > a, & > a span {
			display: inline-block; // Fixes IE7's whitespace bug
		}
		
		& > a, & > a span {
			display: block;
		}
		
		& > a {
			text-decoration: none;
		}
	}
	
	&.hover {
		li {
			& > a {
				@include hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.no_wrap {
	white-space: nowrap;
}

.normalcase {
	text-transform: none;
}

object:focus {
	outline: none;
}

.overflow_x {
	overflow-x: auto;
}

.pane {
	.js & {
		display: none;
	}
	
	.js &:first-child {
		display: block;
	}
}

.pos_absolute {
	position: absolute;
}

.pos_fixed {
	position: fixed;
}

.pos_relative {
	position: relative;
}

pre {
	white-space: pre-wrap;
}

.rwd {
	background-repeat: no-repeat;
	background-size: contain;
	height: 0;
	width: 100%;
}

.rwd-swap {
	.ltie8 & {
		display: none;
	}
}

.slider > li {
	display: none;

	&:first-child {
		display: block;
	}
}

.std_width {
	@include box-sizing;
	margin: auto;
	@include rem(max-width, $site-width);
}

sub, sup {
	position: relative;
	vertical-align: baseline;
}

.titlecase {
	text-transform: capitalize;
}

.ua-windows_phone-7 {
	@extend .no-fontface !optional;
}

.uppercase {
	text-transform: uppercase;
}

.valign_bottom {
	vertical-align: bottom;
}

.valign_middle {
	vertical-align: middle;
}

.valign_top {
	vertical-align: top;
}

.video {
	position: relative;
	
	& iframe {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.visible {
	visibility: visible !important;
}

.weight_bold {
	font-weight: bold !important;
}

.weight_normal {
	font-weight: normal !important;
}

/* --------------------------------------------
	Root Defaults
----------------------------------------------- */

html {
	background: #fff;
	min-height: 100%;
	overflow-y: scroll;
	-ms-overflow-style: scrollbar;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	
	@if ($is-responsive == true) {
		@include media-query(1px, false) {
			overflow-x: hidden;
		}
	}
	
	@include media-query(776px, false, $max) {
		-ms-overflow-style: auto;
	}
}

body {
	color: $text-color;
	font-family: $std-fontfamily;
	@include font-size-line-height($std-fontsize, $std-lineheight);
	min-height: 100%;
	
	.vendor-ie:not(.ltie9) & {
		@include line-height($std-lineheight + 1, $std-fontsize);
	}
	
	* {
		font-size: 1em;
	}
}

/* --------------------------------------------
	Headings
----------------------------------------------- */

h1, .h1 {
	@include rem(font-size, $heading1-fontsize);
}

h2, .h2 {
	@include rem(font-size, $heading2-fontsize);
}

h3, .h3 {
	@include rem(font-size, $heading3-fontsize);
}

h4, .h4 {
	@include rem(font-size, $heading4-fontsize);
}

h5, .h5 {
	@include rem(font-size, $heading5-fontsize);
}

h6, .h6 {
	@include rem(font-size, $heading6-fontsize);
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	&:first-child,
	& + h1, & + h2, & + h3, & + h4, & + h5, & + h6,
	& + .h1, & + .h2, & + .h3, & + .h4, & + .h5, & + .h6 {
		margin-top: 0;
	}
	
	&.sub,
	& + h1, & + h2, & + h3, & + h4, & + h5, & + h6,
	& + .h1, & + .h2, & + .h3, & + .h4, & + .h5, & + .h6 {
		color: $sub-color;
	}
	
	&.alt {
		color: $alt-color;
	}
}

/* --------------------------------------------
	Lists
----------------------------------------------- */

ol, ul {
	list-style: none;
	@include rem(margin-left, $list-margin-left);
	
	&.list_style_none {
		list-style: none !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
	}
}

ol {
	list-style-type: decimal;
	
	&.lower_alpha {
		list-style-type: lower-alpha;
	}
	
	&.upper_alpha {
		list-style-type: upper-alpha;
	}
	
	&.lower_roman {
		list-style-type: lower-roman;
	}
	
	&.upper_roman {
		list-style-type: upper-roman;
	}
}

.ltie8 ul {
	list-style-type: disc;
}

li {
	@include rem(margin-bottom, $std-margin / $list-item-margin-denominator);
	position: relative;
	
	.ltie8 & {
		position: static;
	}
	
	& > ol, & > ul {
		@include rem(margin-top, $std-margin);
	}
	
	ul > &:before {
		content: '';
		display: inline-block;
		position: absolute;
	}
}

.list_next_to_float, .float_left + ul, .float_right + ul, .float_left + ol, .float_right + ol {
	overflow: hidden;
	@include rem(padding-left, $list-margin-left);
	
	@if ($is-responsive) {
		@include media-query($float-bp - 1, $max) {
			clear: both;
			overflow: visible;
			padding-left: 0;
		}
	}
}

dt, dd {
	display: inline;
}

dd:after {
	content: '\A';
	white-space: pre;
}

/* --------------------------------------------
	Tables
----------------------------------------------- */

caption {
	@include rem(margin-bottom, $std-margin);
	text-align: left;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

td, th {
	vertical-align: top;
}

.unstyled {
	@include box-shadow(none);
	width: auto;
	
	& td, & th {
		background: none !important;
		border: 0 !important;
		color: $text-color !important;
		padding: 0 !important;
		text-align: left;
		vertical-align: top !important;
	}
}

.ie9_grid_dummy {
	td {
		background: none !important;
		padding: 0 !important;
	}
}

/* --------------------------------------------
	Forms
----------------------------------------------- */

fieldset {
	border: 0;
}

legend {
	left: -999em;
	position: absolute;
	top: -999em;
}

[data-legend]:before {
	content: attr(data-legend);
	display: block;
}

::-webkit-search-decoration, ::-webkit-search-cancel-button, input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="search"] {
	-webkit-appearance: none;
}

@include placeholder;

input.text, textarea, select {
	margin: 0;
	
	html:not(.ltie9) &:not([disabled]) {
		&:hover {
			background-color: $form-input-hover-color;
			outline: none;
		}
		
		&:focus {
			background-color: $form-input-focus-color;
			@include box-shadow(0 0 6px $form-input-boxshadow-color);
			outline: none;
		}
	}
	
	&.form_error {
		border-color: $form-input-error-color !important;
	}
}

input {
	&[type="radio"], &[type="checkbox"] {
		&.form_error {
			@include box-shadow(0 0 1.5px 1.5px lighten($form-input-error-color, 10%));
		}
		
		&.form_error + label {
			color: $form-input-error-color;
		}
	}
}

.touch label {
	cursor: pointer;
}

.btn, .btn_wrap, button, [type="submit"], input.text, label, .label, p.legend, select, textarea {
	@include box-sizing;
	display: block;
	font-family: $std-fontfamily;
	line-height: normal;
	width: 100%;
}

input.text, label, .label, p.legend, select, textarea {
	vertical-align: top;
}

input.date_time {
	display: -webkit-inline-flex;
}

em {
	.required &, label & , .label &, p.legend & {
		color: $form-input-error-color;
		font-style: normal;
	}
}

f_comment, .f_margin, .f_row, .required, .rc {
	@include rem(margin-bottom, $form-margin);
}

.f_row > div {
	@include rem(margin-top, $form-margin);
}

fieldset .description {
	display: block;
}

input.text, textarea, html:not(.browser-android) select {
	background-color: $form-input-background-color;
	border: 1px solid $form-input-border-color;
}

input.text, textarea {
	-webkit-appearance: none;
	@include border-radius($form-input-border-radius);
}

button, [type="submit"], input.text, textarea, select {
	@include rem(font-size, $base-font-size);
	
	.no-touch & {
		@include rem(font-size, $std-fontsize);
	}
}

select {
	-webkit-appearance: menulist;
	
	&.auto {
		width: auto !important;
	}
}

textarea {
	@include rem(min-height, $text-area-minheight);
	overflow: auto;
}

.rc {
	li {
		@include rem(margin-bottom, $form-margin / 2);
	}
	
	input {
		position: absolute;
	}
	
	label {
		font-weight: normal;
		padding-left: 23px;
		width: auto;
	}
}

@media ($min em($form-bp)) {
	@import "partials/bp-form-fields";
}

input.text, textarea, select {
	.f_row & {
		&.small {
			@include rem(width, $small-input-width);
		}
		
		&.medium {
			@include rem(width, $medium-input-width);
		}
		
		&.large {
			@include rem(width, $large-input-width);
		}
	}
}

.btn, .btn_wrap {
	width: auto;
}

.btn, .btn_wrap, button, [type="submit"] {
	-webkit-appearance: none;
	@include border-radius($btn-border-radius);
	color: $btn-text-color !important;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	overflow: visible;
	text-decoration: none !important;
	
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	
	@include hover {
		color: $btn-hover-text-color !important;
	}
}

.btn_wrap {
	position: relative;
	
	input {
		opacity: 0;
		position: relative;
		z-index: 2;
	}
	
	&[data-label] {
		&:before {
			content: attr(data-label);
		}
		
		input {
			border: 0;
			left: 0;
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
		}
	}
}

/* --------------------------------------------
	Error & .ok Styling
-----------------------------------------------*/

.error {
	border: 1px solid $error-border-color;
	@include border-radius(8px);
	@include rem(padding, 15px);
	
	h3 {
		@include rem(font-size, 16px);
		margin-bottom: 0;
		padding-left: 24px;
		position: relative;
	}
	
	.ltie8 & h3 {
		color: #b00;
		padding-left: 0;
	}
	
	& h3:before {
		background: url(/images/site/std_icons.png) 0 -192px;
		content: '';
		height: 16px;
		margin-left: -24px;
		margin-top: -8px;
		position: absolute;
		top: 50%;
		width: 16px;
		
		@include media-query-retina {
			background-image: url(/images/site/std_icons@2x.png);
			background-size: 16px auto;
			background-position: 0 -192px;
		}
	}
	
	& ul {
		margin: 14px 0 0 23px;
		@include rem(margin-top, 14px, false);
	}
	
	& li:last-child {
		margin-bottom: 0;
	}
}

.ok {
	@extend .error;
	
	.ltie8 & h3 {
		color: #060;
	}
	
	h3:before {
		background-position: 0 -208px;
		color: #417b2a;
		
		@include media-query-retina {
			background-position: 0 -208px;
		}
	}
}

/* --------------------------------------------
	Accordions
----------------------------------------------- */

.accordion {
	.js & {
		visibility: hidden;
	}
	
	.jquery & {
		visibility: visible;
	}
}

.accordion_toggler {
	display: block;
	text-decoration: none;
}

.accordion_content {
	.js & {
		height: 0;
		overflow: hidden;
	}
	
	.js .open + & {
		height: auto;
	}
}

/* --------------------------------------------
	Site
----------------------------------------------- */

.no_col_1.no_col_3 #col_2 {
	width: 100%;
}

#breadcrumbs li {
	display: inline-block;
}