/* --------------------------------------------
	List Bullet Removal & Display None
----------------------------------------------- */

.rc li:before {
	display: none;
}

/* --------------------------------------------
	Constants
----------------------------------------------- */

.std_width {
	min-width: $site-width;
}

/* --------------------------------------------
	Simple Customisations
----------------------------------------------- */

@import "partials/bp-img-float";

/* --------------------------------------------
	Forms
----------------------------------------------- */

@import "partials/bp-form-fields";

@if ($form-bp > 0) {
	.f_row label, .f_row .label, p.legend {
		.ltie8 & {
			width: $form-label-width - $form-label-margin;
		}
	}
	
	.btns, .f_comment, .rc ul, .required {
		.ltie8 & {
			margin-left: ($form-label-margin + $form-label-width) - $form-label-margin;
		}
	}
}