{% set title = 'Page Title' %}

{% include '_includes/head.html' %}

{% include '_includes/header.html' %}

{% include '_includes/nav-main.html' %}

<div id="content">
	<div id="col_1">
		
		{% include '_includes/nav-sub.html' %}
		
	</div>
	
	<div id="col_2" role="main">
		
		{% include '_includes/breadcrumbs.html' %}
		
		<div class="content_area">
		
			
		
		</div>
		
	</div>
	
	<div id="col_3" role="aside">
		
			
		
	</div>
</div>

{% include '_includes/footer.html' %}

{% include '_includes/foot.html' %}
